.mail-description {
    font-size: 14px;
}

.mail-content-desc {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-width: 100%;
    user-select: none;
}

.mail-content-desc::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

li,
.operations {
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: .5rem;
    padding-right: 0rem;
}

.operations {
    height: 2.5rem;
}

.name-surname {
    text-align: center;
}

.profile {
    text-transform: uppercase;
    background-color: pink;
    border-radius: 5rem;
    padding: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 14px;
    user-select: none;
}

.name {
    font-size: 14px;
}

.list-check {
    display: none;
}

li:hover .profile {
    display: none;
}

li:hover .list-check {
    display: flex;
}

li.checked .profile {
    display: none;
}

li.checked .list-check {
    display: flex;
}

.date {
    font-size: 10px;
}

ul {
    height: 89vh;
    overflow-y: auto;
}

.rotate {
    animation: rotation 1s infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #9f00d4;
    border-color: #8b00ba;
}