<div class="container">
    <ul class="responsive-table pt-5">
      <li class="table-header">
        <div class="col col-8">Mail Adreslerim</div>
        <div class="col col-2">İşlemler</div>
      </li>
      <li class="table-row">
        <div class="col col-8" data-label="Job Id">smhrmnc&#64;gmail.com</div>
        <div class="col col-2" data-label="Customer Name"><i class='bx bxs-edit me-2' style="font-size: 20px;"></i><i class='bx bxs-trash' style="font-size: 20px;"></i></div>
      </li>
      <li class="table-row">
        <div class="col col-8" data-label="Job Id">smhrmnc&#64;gmail.com</div>
        <div class="col col-2" data-label="Customer Name"><i class='bx bxs-edit me-2' style="font-size: 20px;"></i><i class='bx bxs-trash' style="font-size: 20px;"></i></div>
      </li>
      <li class="table-row">
        <div class="col col-8" data-label="Job Id">smhrmnc&#64;gmail.com</div>
        <div class="col col-2" data-label="Customer Name"><i class='bx bxs-edit me-2' style="font-size: 20px;"></i><i class='bx bxs-trash' style="font-size: 20px;"></i></div>
    </li>
      <li class="table-row">
        <div class="col col-8" data-label="Job Id">smhrmnc&#64;gmail.com</div>
        <div class="col col-2" data-label="Customer Name"><i class='bx bxs-edit me-2' style="font-size: 20px;"></i><i class='bx bxs-trash' style="font-size: 20px;"></i></div>
    </li>
    </ul>
  </div>